* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62,5%;
}

header {
  background-color: bisque;
  padding: 10px;
}

nav {
  background-color: burlywood;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

a {
  background-color: lightcoral;
  height: 40px;
  font-size: 1rem;
  text-decoration: none;
}

.logo-icon{
    font-size: 2rem;
}

ul {
  list-style: none;
  display: flex;
}

.nav-item {
  display: flex;
  gap: 10px;
}

main {
  width: 100vw;
  height: 100vh;
 
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-item {
 
  height: 80%;
 width: 80%;
 display: flex;
 margin: auto;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

h2{
    font-size: 3rem;
}

.cards{
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-item{
    border:  2px solid black;
    height: 90%;
overflow: hidden;
    border-radius: 2rem;
    background-color: rgb(177, 86, 21);
}

h3{
    font-size: 3rem;
}

p{
    font-size: 1.6rem;
}
.card-img{
    margin: auto;
    object-fit: cover;
    height: 50%;
}
 .card-titel{
    margin: 1rem 0;
 }

 .card-bes{
margin-bottom: 1rem;
 }

.cards-tags{
    font-size: 1.6rem;
}

.tag-1, .tag-2, .tag-3{
    font-size: 1.6rem;
    padding: 0.5rem 1.2rem;
    border-radius: 30px;
} 

strong{
    font-size: 3rem;
    color: rgb(97, 238, 4);
}

.card-tags{
    display: flex;
    gap: 10px;
}
 .tag-1{
    background-color: lightcoral;
 }
 .tag-2{
    background-color: rgb(45, 154, 190);
 }

 .tag-3{
    background-color: rgb(99, 207, 85);
 }

.tag-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.abstand{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:  3rem;
}

@media (max-width: 768px) {
  .nav-item {
    flex-direction: column;
  }
  a {
    background-color: aquamarine;
  }
}
